// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentlineApi from "../../../index.js";

export declare namespace VoiceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VoiceClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VoiceClient.Options>;

    constructor(options: VoiceClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get the current account-level default voice for AI phone agents.
     *
     * Returns which voice is used for all AI agents under this account
     * unless overridden at the agent level or per-call. Controls how
     * your AI agents sound during phone conversations.
     *
     * @param {VoiceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.voice.get()
     */
    public get(requestOptions?: VoiceClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__get(requestOptions));
    }

    private async __get(requestOptions?: VoiceClient.RequestOptions): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/account/voice",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentlineApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/account/voice");
    }

    /**
     * Reset account voice to the system default.
     *
     * Removes the account-level voice override so all AI agents fall back
     * to the system default voice during phone calls (unless they have
     * their own voice_id configured).
     *
     * @param {VoiceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.voice.reset()
     */
    public reset(requestOptions?: VoiceClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__reset(requestOptions));
    }

    private async __reset(requestOptions?: VoiceClient.RequestOptions): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/account/voice",
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentlineApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/account/voice");
    }

    /**
     * Set the account-level default voice for AI phone agents.
     *
     * This becomes the default voice for ALL AI agents under this account,
     * controlling how they sound on phone calls. Individual agents or
     * specific calls can still override this setting.
     *
     * Voice resolution priority:
     *   1. Per-call voice_id (POST /v1/calls)
     *   2. Agent voice_id (PATCH /v1/agents/{id})
     *   3. Account default (this endpoint)  ← you are here
     *   4. System default (Supportive Male)
     *
     * Accepts:
     *   - A preset name: "female-1", "female-2", "female-3", "male-1", "male-2", "male-3"
     *   - A Cartesia voice UUID: "f786b574-daa5-4673-aa0c-cbe3e8534c02"
     *
     * @param {AgentlineApi.VoiceSettingUpdate} request
     * @param {VoiceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.voice.set({
     *         voice_id: "voice_id"
     *     })
     */
    public set(
        request: AgentlineApi.VoiceSettingUpdate,
        requestOptions?: VoiceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__set(request, requestOptions));
    }

    private async __set(
        request: AgentlineApi.VoiceSettingUpdate,
        requestOptions?: VoiceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/account/voice",
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/account/voice");
    }

    /**
     * List all available voice presets for AI phone agents.
     *
     * Returns named TTS (text-to-speech) voice presets that can be used
     * when configuring AI agents or making phone calls. Each voice defines
     * how your AI agent sounds on the phone.
     *
     * You can use a preset name (e.g. "female-1", "male-1") or pass any
     * valid Cartesia voice UUID directly as a voice_id.
     *
     * @param {VoiceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.voice.list()
     */
    public list(requestOptions?: VoiceClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(requestOptions?: VoiceClient.RequestOptions): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/voices",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentlineApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/voices");
    }
}
