// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentlineApi from "../../../index.js";

export declare namespace BillingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BillingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BillingClient.Options>;

    constructor(options: BillingClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get your AI telephony account balance and rate card.
     *
     * Returns the current balance, currency, billing rates for calls
     * and phone numbers, and how many call minutes or phone numbers
     * the balance can cover. Use this to check affordability before
     * making calls or buying numbers for your AI agents.
     *
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.billing.getBalance()
     */
    public getBalance(requestOptions?: BillingClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getBalance(requestOptions));
    }

    private async __getBalance(requestOptions?: BillingClient.RequestOptions): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/billing/balance",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentlineApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/billing/balance");
    }

    /**
     * Get a detailed expenditure breakdown for AI telephony usage.
     *
     * Shows total spend split by category (voice calls, phone number
     * provisioning, top-ups, refunds) with counts and averages.
     * Useful for tracking how much your AI agents are spending on
     * phone calls and phone numbers.
     *
     * @param {AgentlineApi.GetExpenditureBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.billing.getExpenditure()
     */
    public getExpenditure(
        request: AgentlineApi.GetExpenditureBillingRequest = {},
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getExpenditure(request, requestOptions));
    }

    private async __getExpenditure(
        request: AgentlineApi.GetExpenditureBillingRequest = {},
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { period } = request;
        const _queryParams: Record<string, unknown> = {
            period,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/billing/expenditure",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/billing/expenditure");
    }

    /**
     * List individual call charges from AI agent phone calls.
     *
     * Each entry includes the voice call duration, cost, direction
     * (inbound/outbound), phone numbers involved, and timestamp.
     * Shows exactly how much each AI agent call cost.
     *
     * @param {AgentlineApi.ListCallChargesBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.billing.listCallCharges()
     */
    public listCallCharges(
        request: AgentlineApi.ListCallChargesBillingRequest = {},
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__listCallCharges(request, requestOptions));
    }

    private async __listCallCharges(
        request: AgentlineApi.ListCallChargesBillingRequest = {},
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/billing/expenditure/calls",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/billing/expenditure/calls");
    }

    /**
     * List phone number provisioning charges.
     *
     * Shows the cost of each phone number bought for your AI agents,
     * including the number, country, and current status.
     *
     * @param {AgentlineApi.ListNumberChargesBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.billing.listNumberCharges()
     */
    public listNumberCharges(
        request: AgentlineApi.ListNumberChargesBillingRequest = {},
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__listNumberCharges(request, requestOptions));
    }

    private async __listNumberCharges(
        request: AgentlineApi.ListNumberChargesBillingRequest = {},
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/billing/expenditure/numbers",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/billing/expenditure/numbers",
        );
    }

    /**
     * Month-over-month spending summary.
     *
     * Returns total debits grouped by month for trend analysis.
     *
     * @param {AgentlineApi.GetSummaryBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.billing.getSummary()
     */
    public getSummary(
        request: AgentlineApi.GetSummaryBillingRequest = {},
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getSummary(request, requestOptions));
    }

    private async __getSummary(
        request: AgentlineApi.GetSummaryBillingRequest = {},
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { months } = request;
        const _queryParams: Record<string, unknown> = {
            months,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/billing/summary",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/billing/summary");
    }
}
