// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentlineApi from "../../../index.js";

export declare namespace AgentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgentsClient.Options>;

    constructor(options: AgentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all AI voice agents configured on your account.
     *
     * Returns every AI phone agent you've created, including their
     * system prompts, voice settings, and associated phone numbers.
     * Useful for checking which agents are ready to make or receive calls.
     *
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.agents.list()
     */
    public list(requestOptions?: AgentsClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(requestOptions?: AgentsClient.RequestOptions): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/agents",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentlineApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/agents");
    }

    /**
     * Create a new AI voice agent for telephony.
     *
     * Sets up a new AI phone agent with a custom system prompt, voice,
     * and greeting. Once created, buy a phone number and attach it to
     * this agent so it can make and receive calls autonomously.
     *
     * Fields:
     *   - name: Display name for the agent
     *   - system_prompt: Instructions that define the agent's personality and behavior on calls
     *   - initial_greeting: What the AI agent says when the call connects
     *   - voice_id: TTS voice preset (e.g. "female-1") or Cartesia UUID
     *   - transfer_number: Phone number to transfer calls to (e.g. a human operator)
     *   - voicemail_message: Message the agent leaves if the call goes to voicemail
     *
     * @param {AgentlineApi.AgentCreate} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.agents.create({
     *         name: "name"
     *     })
     */
    public create(
        request: AgentlineApi.AgentCreate,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentlineApi.AgentOut> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: AgentlineApi.AgentCreate,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentlineApi.AgentOut>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/agents",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentlineApi.AgentOut, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/agents");
    }

    /**
     * Get details of a specific AI voice agent.
     *
     * Returns the agent's full configuration including system prompt,
     * voice settings, greeting, and transfer number.
     *
     * @param {AgentlineApi.GetAgentsRequest} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.agents.get({
     *         agent_id: "agent_id"
     *     })
     */
    public get(
        request: AgentlineApi.GetAgentsRequest,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: AgentlineApi.GetAgentsRequest,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { agent_id: agentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                `v1/agents/${core.url.encodePathParam(agentId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/agents/{agent_id}");
    }

    /**
     * Delete an AI voice agent.
     *
     * Permanently removes the agent, its calls, messages, and conversations,
     * and detaches any phone numbers assigned to it. Detached numbers remain
     * active on your account and can be reassigned to another agent.
     *
     * @param {AgentlineApi.DeleteAgentsRequest} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.agents.delete({
     *         agent_id: "agent_id"
     *     })
     */
    public delete(
        request: AgentlineApi.DeleteAgentsRequest,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: AgentlineApi.DeleteAgentsRequest,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { agent_id: agentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                `v1/agents/${core.url.encodePathParam(agentId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/agents/{agent_id}");
    }

    /**
     * Update an AI voice agent's configuration.
     *
     * Modify any combination of the agent's settings: system prompt,
     * voice, greeting, transfer number, or voicemail message.
     * Changes take effect on the next call the agent handles.
     * Only include the fields you want to change — unset fields are preserved.
     *
     * @param {AgentlineApi.AgentUpdate} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.agents.update({
     *         agent_id: "agent_id"
     *     })
     */
    public update(
        request: AgentlineApi.AgentUpdate,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: AgentlineApi.AgentUpdate,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { agent_id: agentId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                `v1/agents/${core.url.encodePathParam(agentId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/agents/{agent_id}");
    }
}
