// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentlineApi from "../../../index.js";

export declare namespace MessagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MessagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MessagesClient.Options>;

    constructor(options: MessagesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List SMS messages sent and received by your AI agents.
     *
     * Returns message history with optional filters by AI agent or
     * conversation. Each entry includes direction (inbound/outbound),
     * phone numbers, message body, and delivery status.
     *
     * @param {AgentlineApi.ListMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.messages.list()
     */
    public list(
        request: AgentlineApi.ListMessagesRequest = {},
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: AgentlineApi.ListMessagesRequest = {},
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { agent_id: agentId, conversation_id: conversationId, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            agent_id: agentId,
            conversation_id: conversationId,
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/messages",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/messages");
    }

    /**
     * Send an outbound SMS message from an AI agent's phone number.
     *
     * @param {AgentlineApi.MessageSend} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.messages.send({
     *         agent_id: "agent_id",
     *         to_number: "to_number",
     *         body: "body"
     *     })
     */
    public send(
        request: AgentlineApi.MessageSend,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__send(request, requestOptions));
    }

    private async __send(
        request: AgentlineApi.MessageSend,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/messages",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/messages");
    }

    /**
     * List all SMS conversations for your AI agents.
     *
     * Returns conversation threads, optionally filtered by AI agent.
     * Each conversation represents an ongoing SMS exchange between
     * an AI agent's phone number and an external contact.
     *
     * @param {AgentlineApi.ListConversationsMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.messages.listConversations()
     */
    public listConversations(
        request: AgentlineApi.ListConversationsMessagesRequest = {},
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__listConversations(request, requestOptions));
    }

    private async __listConversations(
        request: AgentlineApi.ListConversationsMessagesRequest = {},
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { agent_id: agentId } = request;
        const _queryParams: Record<string, unknown> = {
            agent_id: agentId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/messages/conversations",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/messages/conversations");
    }
}
