// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentlineApi from "../../../index.js";

export declare namespace WebhooksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WebhooksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WebhooksClient.Options>;

    constructor(options: WebhooksClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List the account's per-agent webhook configuration(s).
     *
     * Secrets are **masked**. Pass `agent_id` to inspect a single agent's webhook.
     * The full secret is only ever shown once, on the POST that creates/replaces it.
     *
     * @param {AgentlineApi.ListWebhooksRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.webhooks.list()
     */
    public list(
        request: AgentlineApi.ListWebhooksRequest = {},
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: AgentlineApi.ListWebhooksRequest = {},
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { agent_id: agentId } = request;
        const _queryParams: Record<string, unknown> = {
            agent_id: agentId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/webhooks",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/webhooks");
    }

    /**
     * Create or replace an agent's webhook.
     *
     * The configured URL receives ALL of that agent's event types — call lifecycle
     * (`call.received`, `call.completed`, `call.failed`), SMS (`sms.received`),
     * and future events — as signed JSON POSTs. Each agent may have at most one
     * webhook; POSTing again replaces it.
     *
     * - `agent_id`: the agent whose events this webhook receives (required).
     * - `secret`:   HMAC signing secret. Omit to auto-generate.
     *
     * The response returns the full `secret` **once** — store it to verify the
     * signature header on deliveries.
     *
     * @param {AgentlineApi.WebhookConfig} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.webhooks.set({
     *         url: "url",
     *         agent_id: "agent_id"
     *     })
     */
    public set(
        request: AgentlineApi.WebhookConfig,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<AgentlineApi.WebhookCreated> {
        return core.HttpResponsePromise.fromPromise(this.__set(request, requestOptions));
    }

    private async __set(
        request: AgentlineApi.WebhookConfig,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentlineApi.WebhookCreated>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/webhooks",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentlineApi.WebhookCreated, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/webhooks");
    }

    /**
     * Remove an agent's webhook. No events for that agent will be delivered via
     * HTTP afterwards; they remain available via GET /v1/events (the mailbox).
     *
     * @param {AgentlineApi.DeleteWebhooksRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.webhooks.delete({
     *         agent_id: "agent_id"
     *     })
     */
    public delete(
        request: AgentlineApi.DeleteWebhooksRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: AgentlineApi.DeleteWebhooksRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { agent_id: agentId } = request;
        const _queryParams: Record<string, unknown> = {
            agent_id: agentId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/webhooks",
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/webhooks");
    }

    /**
     * Fire a signed `webhook.test` event to the agent's webhook.
     *
     * Uses the exact same event bus (publish_event) that real telephony events use,
     * so a successful delivery confirms the entire pipeline is wired correctly.
     * Returns 404 if no webhook is configured for the agent.
     *
     * @param {AgentlineApi.TestWebhooksRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlineApi.UnprocessableEntityError}
     * @throws {@link errors.AgentlineApiError}
     * @throws {@link errors.AgentlineApiTimeoutError}
     *
     * @example
     *     await client.webhooks.test({
     *         agent_id: "agent_id"
     *     })
     */
    public test(
        request: AgentlineApi.TestWebhooksRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__test(request, requestOptions));
    }

    private async __test(
        request: AgentlineApi.TestWebhooksRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { agent_id: agentId } = request;
        const _queryParams: Record<string, unknown> = {
            agent_id: agentId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlineApiEnvironment.Production,
                "v1/webhooks/test",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentlineApi.UnprocessableEntityError(
                        _response.error.body as AgentlineApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/webhooks/test");
    }
}
